@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: none !important;
  outline: none !important;
}

html, body {
  font-size: 62.5%;
  font-family: "Fredoka", sans-serif;
  height: 100%;
  /* overflow: hidden; */
}


/* Đặt kích thước thanh cuộn nhỏ hơn */
::-webkit-scrollbar {
  width: 5px;
  /* Độ rộng của thanh cuộn dọc */
  height: 8px;
  /* Độ cao của thanh cuộn ngang */
}

/* Tùy chỉnh thanh trượt bên trong (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #235298;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo tròn thanh cuộn */
}

/* Khi người dùng hover vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: #235298;
  /* Thay đổi màu khi hover */
}

/* Tùy chỉnh track của thanh cuộn (khoảng trống phía sau thanh cuộn) */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Container chính có thanh cuộn */
.scroll-container {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
}
.scroll-container2 {
  min-height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
}

.scroll-container3 {
  width: 100%;
  max-height: 589px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

/* Nếu muốn scrollbar trông gọn gàng */
.scroll-container3::-webkit-scrollbar {
  width: 5px;
}

.scroll-container3::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.scroll-container3::-webkit-scrollbar-track {
  background: transparent; /* để thấy bo góc của cha */
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #23529882;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f7ad2;
}

::-webkit-scrollbar-track {
  background-color: #e0dede;
}

.yeucaumokhoa {
  background-color: #05848f;
  color: #fff;
}

.huyduyet {
  background-color: #ffb957;
  color: #fff;
}
