.info-book-header {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 8px #9f9f9f;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.info-book-header_img {
    width: 18%;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.info-book-header_img img {
    width: 100%;
    max-height: 400px !important;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info-book-header_info {
    width: 78%;
    
}
.info-book-header_info > div{
    display: flex;
}

.info-book-header_info_item {
    width: 49%;
}  
.update-item-position{
    position: relative;
} 

.info-book-header_info h1 {
    background: linear-gradient(to right, #4680fe, #5E9BFE, #5EA8FE, #5EBEFE, #5ECEFE);
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    height: 60px !important;
    font-size: 3rem;
}
.info-book-header_info_item p{
    font-size: 1.8rem;
    font-family: 'OpenSans', sans-serif;
}
.info-book-header_info_item_gia{
    font-size: 3.7rem;
    color: #9E2F2F;
    position: absolute;
    bottom: -50px;
    left: 0;
}
.info-book-header_info_item_danhgia{
    background: #325479;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem !important;
    margin-top: 20px;
}