.reset-password-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.reset-password-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.reset-password-container {
    width: 500px;
    margin: 170px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
}

.reset-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

.reset-input-group {
    display: flex;
    gap: 10px;
}

.send-code-button {
    /* padding: 12px; */
    width: 120px;
    height: 50px;
    font-size: 16px;
    background-color: #ddd;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-code-button:hover {
    background-color: #bbb;
}

.reset-button {
    padding: 12px;
    font-size: 16px;
    background-color: #e89922;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #d88b1f;
}


.bgSignin {
  background-image: url(/public/images/bgbook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100vh; 

  display: flex;
  justify-content: center; 
  align-items: center;  
}

.boxCenter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
