.login-container {
  width: 500px;
  margin: 200px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.login-input_eye {
  position: relative;
}

.login-input_eyeicon {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.login-input_eyeicon:hover {
  color: #d87c28;
}

.login-button {
  background-color: #d87c28;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.login-button:hover {
  background-color: #c56c1f;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #d87c28;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.forgot-password p:hover {
  text-decoration: underline;
}

.forgot-password a {
  color: #d87c28;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-or {
  margin: 20px 0;
  color: #888;
  font-size: 14px;
  position: relative;
}

.login-or span {
  background-color: #f9f9f9;
  padding: 0 10px;
}

.login-or:before,
.login-or:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ddd;
}

.login-or:before {
  left: 0;
}

.login-or:after {
  right: 0;
}

.login-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.social-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.facebook-button {
  background-color: #3b5998;
  color: white;
}

.google-button {
  background-color: #db4437;
  color: white;
}

.login-register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.login-register-link span {
  color: #f88418;
  text-decoration: none;
}

.login-register-link span:hover {
  text-decoration: underline;
}

.error-message {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(255, 0, 0, 0.753);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.bgSignin {
  background-image: url(/public/images/bgbook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100vh; 

  display: flex;
  justify-content: center; 
  align-items: center;  
}


.boxCenter {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
