.page {
  height: auto;
}

.pageMyStore {
  width: 100%;
  height: 900px;
}

.pageHead {
  width: 100%;
  height: 130px;
  background-color: #4680fe;
  margin-top: -10px;
  padding-top: 20px;
  padding-left: 30px;
  color: #fff;
}
.pageHead h3 {
  margin-bottom: -10px;
}

.formHeadInfo {
  margin: 25px;
  margin-top: -30px;
}

/* .container {
  margin-top: -40px;
} */
.info-basicForm {
  width: 100%;
  height: 120px;
  /* position: relative; */
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.info-basic {
  width: 40.5%;
  height: 120px;
  position: relative;
}

.info-store {
  width: 100%;
  height: 120px;
  object-fit: cover;
  position: relative;
}

.chart-doanhThu {
  width: 58%;
  background-color: #fff;
  height: 430px;
  padding: 20px 25px 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.info-store > img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 10px;
  filter: brightness(0.6);
  object-fit: cover;
}

/* thông tin cửa hàng */
.info-store_detail {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}

.info-store_avatar {
  position: relative;
}

.info-store_avatar > img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid #ccc;
  z-index: 1;
  object-fit: cover;
}

.info-store_avatar > p {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  width: 80px;
  padding: 3px 0;
  margin-top: -5px;
  text-align: center;
  position: absolute;
  top: 80px;
  left: 4.5px;
  z-index: 2;
}

.info-store_name {
  color: white;
  width: 320px;
  margin-top: 20px;
  margin-left: 10px;
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) */
  white-space: nowrap; /* Ngừng xuống dòng khi vượt quá */
}

.info-store_name > h1 {
  font-size: 23px !important;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1px;
  overflow: hidden; /* Đảm bảo tiêu đề không vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) */
  white-space: nowrap; /* Ngừng xuống dòng */
}

.info-store_name > p {
  font-size: 1.4rem;
  overflow: hidden; /* Đảm bảo đoạn văn không vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) */
  white-space: nowrap; /* Ngừng xuống dòng */
}

.info-store_icon {
  background-color: #cccccc56;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  right: 14px;
  cursor: pointer;
}

.info-store_icon--layout2 {
  background-color: rgba(191, 191, 191, 0.418);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: inherit;
  top: 7.5px;
  left: 7.5px;
}

.faCheck {
  font-size: 2.6rem;
  position: inherit;
  top: 12px;
  left: 13px;
  color: white;
}

.chartSmall-info {
  width: 100%;
}

.chartSmall-infoItem {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chartSmall-infoItem_head {
  width: 30%;
}
.chartSmall-infoItem_head h1 {
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
}
.chartSmall-infoItem_head p {
  font-size: 16px;
  color: #838383;
}

/* *----------------- Home ADMIN -------------------- */
.admin-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.admin-home-item {
  width: 23%;
  padding: 16px 35px;
  border-radius: 12px;
  border: 1px solid #ccc;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 4px #0000004b;
}
.admin-home-item img {
  object-fit: contain;
  width: 50px;
  height: 55px;
  margin-top: 12px;
}
.admin-home-default {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
}
.admin-home-dif {
  background: linear-gradient(to bottom, #0271e7, #007bfff5);
}
.admin-home-item_title {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Fredoka", sans-serif;
}
.admin-home-item_data {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Fredoka", sans-serif;
}
.admin-home-main {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  margin: 25px 0;
  padding: 20px;
}
.admin-home-account {
  display: flex;
}
.admin-home-account-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.admin-home-account-info {
  font-size: 2.3rem;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 10px;
}
.admin-home-account-info p:nth-child(2) {
  font-size: 2.1rem;
  color: #adadad;
}
.admin-home-about {
  width: 83%;
  font-size: 2rem;
  margin-left: 110px;
}

.admin-home-chart {
  background-color: #fff;
  margin: 0;
  padding: 30px;
  border-radius: 12px;
}

.chuaduyetcuahang {
  width: 270px;
  height: 579px;
  background-color: rgb(255, 255, 255);
  display: block;
  z-index: 99999999999;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  left: 0;
  top: 150px;
  text-align: center;
  padding: 20px;
}
.chuaduyetcuahang img {
  width: 100px;
  height: 160px;
  object-fit: contain;
  margin-top: 30px;
}
.chuaduyetcuahang h2 {
  color: rgb(0, 0, 0);
}
.btn_trangthai {
  padding: 7px 20px;
  background-color: #4698ef;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 7px;
}
.btn_trangthai:hover {
  background-color: #0a6dd7;
  box-shadow: 0 0 7px rgba(82, 80, 80, 0.37);
}

.iconLink {
  width: 14px;
  margin-right: 7px;
}

.infoOfStore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoOfStore-item1,
.infoOfStore-item2 {
  width: 28.5%;
  height: auto;
  background-color: #fff;
  /* padding: 25px; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoOfStore-item1 > p,
.infoOfStore-item2 > p {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 30px;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold;
}
.infoOfStore-item1 > h3,
.infoOfStore-item2 > h3 {
  font-size: 17px;
  padding-left: 25px;
}

.infoOfStore-item1 > h3 {
  color: #4680fe;
}

.infoOfStore-item2 > h3 {
  color: #9ccc66;
}

.infoOfStore-item1 > span,
.infoOfStore-item2 > span {
  margin: 0;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.infoOfStore_footer,
.infoOfStore_footer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 12px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.infoOfStore_footer {
  background-color: #4680fe;
}

.infoOfStore_footer2 {
  background-color: #9ccc66;
}

.infoOfStore_footer-item {
  text-align: center;
}

.infoOfStore_footer-item span {
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.infoOfStore_footer-item p {
  font-size: 15px;
  color: #fff;
  margin-top: -3px;
}

.infoOfStore-item-small {
  width: 19%;
}

.mt-20 {
  margin-top: 30px;
}

.infoOfStore-item-small_form {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoOfStore-item-small_form__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15px 0;
}

.infoOfStore-item-small_form__head p {
  font-size: 22px;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold;
  margin: 0;
}
.infoOfStore-item-small_form__head span {
  font-size: 16px;
  color: #979797;
  margin: 0;
}

.infoOfStore-item-small_form__headIcon {
  font-size: 25px;
  margin-top: -20px;
}

.infoOfStore-item-small_form__food {
  padding: 10px 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.numberInfo1 {
  color: #ffb957;
}
.numberInfo2 {
  color: #ff5353;
}
.numberInfo3 {
  color: #9ccc66;
}
.numberInfo4 {
  color: #4680fe;
}

.foodColor1 {
  background-color: #ffb957;
}
.foodColor2 {
  background-color: #ff5353;
}
.foodColor3 {
  background-color: #9ccc66;
}
.foodColor4 {
  background-color: #4680fe;
}
