label{
    font-weight: 600;
    font-size: 16px;
}

.register-seller-container {
  width: 600px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.register-seller-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.shop-info {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  
}

.shop-info h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: 600;
}

.edit-button {
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.edit-button:hover {
  text-decoration: underline;
}

.register-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.register-button:hover {
  background-color: #e05d00;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-address-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1010;
}

.edit-address-form h4 {
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button,
.complete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ddd;
}

.complete-button {
  background-color: #ff6600;
  color: white;
}

.bgRegisterSeller {
  background-image: url(/public/images/bgbook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center; 
  align-items: center;     
}

.boxCenter {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
